@{
    ViewData["Title"] = "DescribeMySelf";
}

<h2>My Details</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <td>Sandhya Adhikari</td>
    </tr>
    <tr>
        <th>Student ID</th>
        <td>20030094</td>
    </tr>
    <tr>
        <th>Course</th>
        <td>ICT272</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>Web Design and Development</td>
    </tr>
</table>